
<button  (click)="changeAlgorithm()" class="btn rightbtn" >Switch to {{matrixType}} Matrix</button>
<div  class="islandE" > Island</div>
<div class="waterE">Water </div>
<div class="maps-container">
  <div *ngFor="let matrix of matrixes; let i = index;" class="map">
    <h5 style="color:#032121">Matrix number {{i}}</h5>
    <h6 class="titleBottom">Islands count : {{getIslandCount(i)[0]}}</h6>

    <div class="rowscols-container">
      <div class="slider-row">
        <mat-slider class="mat-slider-color" (change)="changecols($event.value , i)" [max]="max" [min]="min" [step]="step"
          [(ngModel)]="matrixinfo[i][0]" [thumbLabel]="true"
          ></mat-slider>
      </div>
      <div class="slider-columns">
        
        <mat-slider [vertical]="true" [invert]="true" (change)="changerows($event.value, i)" [max]="max" [min]="min"
          [step]="step" [(ngModel)]="matrixinfo[i][1]"  [thumbLabel]="true"
          ></mat-slider>
      </div>
      <div *ngFor="let inner of matrix; let j = index;" class="height50px">
        <div *ngFor="let num of inner; let k = index;" class="inline-block" (click)="modify(i, j, k)">
          <div *ngIf="num == 1" class="island">
          {{(getIslandCount(i)[1])[j][k]}}
          </div>
          <div *ngIf="num == 0" class="water">
          </div>
        </div>
      </div>
    </div>
    <h6>Islands count : {{getIslandCount(i)[0]}}</h6>
  </div>
</div>
